<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	{% block javascripts %}
		<script src="https://code.jquery.com/jquery-1.12.4.min.js""></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<link rel="stylesheet" href="css/home.css">
		<script src="js/home.js"></script>
	{% endblock %}
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="card financeCard" style="width: 24rem; padding-bottom: 35px;">
					<div class="card-body">
						<label>Currency name: </label>
						<input class="form-control" type="text" value = "United States dollar" readonly>
						<label>Cross currency: </label>
						<input class="form-control" type="text" value = "Euro" readonly>
						<label>Exchange rate: </label>
						<input class="form-control" type="text" value = "{{euroExChange}}" readonly>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card financeCard" style="width: 24rem; padding-bottom: 35px;">
					<div class="card-body">
						<label>Currency name: </label>
						<input class="form-control" type="text" value = "United States dollar" readonly>
						<label>Cross Currency: </label>
						<input class="form-control" type="text" value = "Japanese yen" readonly>
						<label>Exchange rate: </label>
						<input class="form-control" type="text" value = "{{japaneseExChange}}" readonly>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card financeCard" style="width: 24rem; padding-bottom: 35px;">
					<div class="card-body">
						<label>Currency name: </label>
						<input class="form-control" type="text" value = "United States dollar" readonly>
						<label>Cross Currency: </label>
						<input class="form-control" type="text" value = "Canadian dollar" readonly>
						<label>Exchange rate: </label>
						<input class="form-control" type="text" value = "{{canadianExChange}}" readonly>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="card financeCard" style="width: 24rem; padding-bottom: 35px;">
					<div class="card-body">
						<label>Currency name: </label>
						<input class="form-control" type="text" value = "United States dollar" readonly>
						<label>Cross Currency: </label>
						<input class="form-control" type="text" value = "British pound" readonly>
						<label>Exchange rate: </label>
						<input class="form-control" type="text" value = "{{britishExChange}}" readonly>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card financeCard" style="width: 24rem; padding-bottom: 35px;">
					<div class="card-body">
						<label>Currency name: </label>
						<input class="form-control" type="text" value = "United States dollar" readonly>
						<label>Cross Currency: </label>
						<input class="form-control" type="text" value = "Mexican peso" readonly>
						<label>Exchange rate: </label>
						<input class="form-control" type="text" value = "{{mexicanExChange}}" readonly>
					</div>
				</div>
			</div>
	 	</div>
 	</div>
</body>

</html>